<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue js</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <p v-if="show">You can see me!</p>
    <p v-else>Now you can see me!</p>
    <template v-if="show">
        <h1>Heading</h1>
        <p>Inside a template</p>
    </template>
    <p v-show="show">Do You also can see me!</p>
    <button @click="show = !show">Switch</button>
    <div>
        <ul>
            <li v-for="(ingredient, i) in ingredients" key="ingredient">{{ ingredient }} ({{ i }})</li>
        </ul>
        <button @click="ingredients.push('spices')">Add new</button>
        <hr>
        <ul>
            <li v-for="persion in persons">
                <div v-for="(value, key, index) in persion"> {{ index }} -> {{ key }} : {{ value }} </div><br>
            </li>
        </ul>
        <hr>
        <span v-for="n in 10">{{ n }}</span>
        <template v-for="(ingredient, index) in ingredients">
            <h1>{{ ingredient }}</h1>
            <p>{{ index }}</p>
        </template>
    </div>
</div>
<script>
    new Vue({
        el:'#app',
        data: {
            show: true,
            ingredients: ['meat', 'fruit', 'cookies'],
            persons: [
                {name: 'Max', age: 27, color: 'red'},
                {name: 'Anna', age: 'unknown', color: 'blue'},
            ]
        }
    });
</script>
</body>
</html>