<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue js</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
<style>
    .red {
        background-color: red;
    }
    .green {
        background-color: green;
    }
    .blue {
        background-color: blue;
    }
</style>
<div id="app">
    <h1 v-once>{{ title }}</h1>
  <p>
      change title: <input type="text"  v-on:input="changeTitle">
<!--      <input type="text"  @input="changeTitle">-->
<!--      @input short for v-on:input-->
    title: {{ title }}
<!--      <a href="{{ link }}">Google</a>-->
<!--      <a v-bind:href="link">Google</a>-->
<!--      :href is short for v-bind:-->
      <a :href="link">Google</a>


  </p>
    <p>
        {{ sayHello() }}
    </p>
    <hr>
    <p v-html="finishedLink">
    </p>
    <p>
<!--        <button v-on:click="increase(2, $event)">increase</button>-->
<!--        <button v-on:click="decrease(2, $event)">decrease</button>-->
<!--        <button v-on:click="counter++">increase</button>-->
        <button @click="counter++">increase</button>
        <button v-on:click="counter--">decrease</button>
        <button v-on:click="counter++">Click me</button>
        <span>{{ counter }}</span>
        <span>{{ counter+ 2 }}</span>
        <span>{{ counter+ 2 > 10? 'Greater then 10':'Smaller then 10' }}</span>
<!--        <span>{{ counter+= 2 }}</span> infinite update loop -->
    </p>
    <p v-on:mousemove="updateCoordinate">
        Coordinate: {{ x }} / {{ y }}
<!--        - <span v-on:mousemove="dummy">DEAD SPOT</span>-->
<!--        event modifier-->
        - <span v-on:mousemove.stop="">DEAD SPOT</span>
        - <span v-on:mousemove.prevent="">DEAD SPOT</span>
    </p>
    <p>
<!--        event key modifier-->
        <input type="text" v-on:keyup.enter="alertMe">
    </p>
    <p>
        <input type="text" v-model="name">
<!--        two ways binding-->
        <span>{{ name }}</span>

    </p>
    <p>Counter: {{ counter }}</p>
    <p>Result: {{ result() }}</p>
    <p>Output: {{ output }}</p>
    <div class="demo"
    @click="attachRed = !attachRed"
         :class="{red: attachRed, blue: !attachRed}"
    >red</div>
    <div @click="attachRed = !attachRed" :class="diveClasses">diveClasses</div>
    <div class="demo" :class="color">color</div>
    <div class="demo" :class="[color, {red: attachRed}]">color</div>
    <div class="demo" :style="{backgroundColor:color}">style</div>
    <div class="demo" :style="myStyle">my style</div>
    <div class="demo" :style="[myStyle, {height: width + 'px'}]">my style</div>
    <hr>
    <input type="text" v-model="color">
    <br>
    <label for="width">width</label>
    <input type="text" v-model="width" name="width" id="width">
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            title: "Hello world",
            link: "https://google.com",
            finishedLink: "<a href='https://google.com'>google</a>",
            counter: 0,
            x: 0,
            y: 0,
            name: 'jack',
            attachRed: false,
            color: 'green',
            width: 100
        },
        computed: {
            output: function () {
                return this.counter > 5 ? 'Greater than 5':'Smaller than 5';
            },
            diveClasses: function () {
                return {
                    red: this.attachRed,
                    blue: !this.attachRed
                }
            },
            myStyle: function () {
                return {
                    backgroundColor: this.color,
                    width: this.width + 'px'
                }
            }
        },
        watch: {
            counter: function (value) {
                var vm = this
                setTimeout(function () {
                    vm.counter = 0;
                }, 2000)
            }

        },
        methods: {
            changeTitle: function (event) {
                this.title = event.target.value;
            },
            sayHello: function () {
                // return "hello"
                this.title = "hello"
                return this.title;
            },
            increase: function (step, event) {
                this.counter+=step;
                this.result = this.counter > 5 ? 'Greater than 5':'Smaller than 5';
            },
            decrease: function (step, event) {
                this.counter-=step;
                this.result = this.counter > 5 ? 'Greater than 5':'Smaller than 5';
            },
            updateCoordinate: function (event) {
                this.x = event.clientX;
                this.y = event.clientY;
            },
            dummy: function (event) {
                event.stopPropagation();
            },
            alertMe: function (event) {
                alert('alert!')
            },
            result: function (event) {
                return  this.counter > 5 ? 'Greater than 5':'Smaller than 5';
            },
        }
    });
</script>
</body>
</html>